*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height : 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1.5vmin;
}

.game-board {
    height : 60vmin;
    width : 60vmin;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 1.5vmin;
}

.box {
    height : 18vmin;
    width : 18vmin;
    border-radius: 1rem;
    border : none;
    box-shadow : 0 0 1 rem rgba(0,0,0,0.1);
    font-size: 7.5vmin;
    font-family: Comic Sans MS, sans-serif;
    font-weight: bold;
    font-style: italic;
    color : black;
    background-color: blanchedalmond;
}

.btn{
    gap : 2.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-game-button {
    padding: 1rem;
    font-size: 1rem;
    font-family: Comic Sans MS, sans-serif;
    font-style: italic;
    font-weight: bold;
    color : red;
    border-radius: 1rem;
    border: none;
    background-color: blanchedalmond;
}

.reset-button {
    padding: 1rem;
    font-size: 1rem;
    font-family: Comic Sans MS, sans-serif;
    font-style: italic;
    font-weight: bold;
    color : red;
    border-radius: 1rem;
    border: none;
    background-color: blanchedalmond;
}

.status {
    font-size: 2rem;
    font-family: Comic Sans MS, sans-serif;
    font-style: italic;
    font-weight: bold;
    color : black;
}

.hide {
    display: none;
}

.wintime {
    font-size: 0.95rem;
    font-family: Comic Sans MS, sans-serif;
    font-style: italic;
    font-weight: bold;
    color : black;
    justify-content: center;
    align-items: center;
}

.end{
    background-color: black;
    color : white;
    font-size: 0.75rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    gap: 1.5vmin;
    justify-content: center;
    padding: 1rem;
}